<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Scrabbler</title>
</head>
<body>
    <div class="container">
        <h1>YOUR RESULT!!</h1>
        <h2>{{ resultugsjkfdn }}</h2>
    </div>
</body>
</html>
